---
import { curriculum } from "../i18n/ui";
import { useTranslations } from "../i18n/utils";
import { getRelativeLocaleUrl } from "astro:i18n";

const currentLang = Astro.currentLocale || "es";
const translateLabels = useTranslations(currentLang as "es" | "en");
const currentCurriculum = curriculum[currentLang as "es" | "en"];

const estudios = currentCurriculum.filter(
  (curriculo) => curriculo.education === true,
);
const premios = currentCurriculum.filter(
  (curriculo) => curriculo.education === false,
);
---

<section
  class="seccioncurriculum"
  aria-label="Curriculum de Alejandro Vázquez"
  id="curriculum"
>
  <div class="bio">
    <div class="fila">
      <div class="col izq"></div>
      <div class="col centro">
        <p class="titulo">{translateLabels("curriculum")}</p>
        <p class="parrafobio">{translateLabels("bio1")}</p>
      </div>
      <div class="col der"></div>
    </div>
  </div>

  <div class="estudios">
    <div class="fila">
      <div class="col izq"></div>
      <div class="col centro">
        <p class="titulo">{translateLabels("estudios")}</p>
      </div>
      <div class="col der"></div>
    </div>

    {
      estudios.map(({ index, name, institution, year }) => (
        <div class="fila">
          <div class="col izq">{year}</div>
          <div class="col centro">{name}</div>
          <div class="col der">{institution}</div>
        </div>
      ))
    }
  </div>

  <div class="premios">
    <div class="fila">
      <div class="col izq"></div>
      <div class="col centro">
        <p class="titulo">{translateLabels("premios")}</p>
      </div>
      <div class="col der"></div>
    </div>

    {
      premios.map(({ index, name, institution, year }) => (
        <div class="fila">
          <div class="col izq">{year}</div>
          <div class="col centro">{name}</div>
          <div class="col der">{institution}</div>
        </div>
      ))
    }
  </div>

  <div class="skills">
    <div class="fila">
      <div class="col izq"></div>
      <div class="col centro">
        <p class="titulo">{translateLabels("prensa")}</p>
        <li>
          <a href="https://metalmagazine.eu/es/post/pluto-miss-espacial-24"
            >metalmagazine</a
          >
        </li>
        <li>
          <a href="https://www.makma.net/pam24-upv-cuestionar-los-limites/"
            >makma</a
          >
        </li>
        <li>
          <a
            href="https://www.elespanol.com/treintayseis/cultura/20211225/voces-vigo-emergente-alejandro-vazquez-ganador-certamen-internacional-vialia/637436347_0.html"
            >36tritayseis</a
          >
        </li>
        <li>
          <a href="https://www.artrabbit.com/events/postdigital-landscapes"
            >artrabbit</a
          >
        </li>
      </div>
      <div class="col der"></div>
    </div>
  </div>

  <div class="skills">
    <div class="fila">
      <div class="col izq"></div>
      <div class="col centro">
        <p class="titulo">{translateLabels("habilidades")}</p>
        <li><a href={`/${currentLang}/works/1safety`}>3D</a></li>
        <li><a href="#landing">{translateLabels("diseñoweb")}</a></li>
        <li><a href="#landing">Three.js</a></li>
        <li>
          <a href={`/${currentLang}/works/3cordero`}
            >{translateLabels("arduino")}</a
          >
        </li>
        <li>
          <a href={`/${currentLang}/works/3cordero`}
            >{translateLabels("visuales")}</a
          >
        </li>
        <li>
          <a href={`/${currentLang}/works/4mitrabajomaspersonal`}
            >{translateLabels("foto")}</a
          >
        </li>
        <li>
          <a href={`/${currentLang}/works/3cordero`}
            >{translateLabels("prototipado")}</a
          >
        </li>
      </div>
      <div class="col der"></div>
    </div>
  </div>
</section>

<style>
  /* ======== GRID PRINCIPAL ======== */

  :root {
    --col-izq: 25%;
    --col-centro: 50%;
    --col-der: 25%;
  }

  .seccioncurriculum {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5em;
    margin-bottom: 5rem;
    box-sizing: border-box;
    transition: 0.5s;
  }
  .estudios {
    width: 100%;
  }
  .premios {
    width: 100%;
  }
  .skills {
    width: 100%;
  }
  /* Cada fila de tres columnas */
  .fila {
    display: grid;
    grid-template-columns: var(--col-izq) var(--col-centro) var(--col-der);
    width: 100%;
    align-items: start;
    margin-block: 0.6rem;
  }

  /* Columnas */
  .col {
    font-family: "PP Neue Montreal Mono";
    font-size: 0.8rem;
    text-transform: uppercase;
    padding-inline: 0.5rem;
    box-sizing: border-box;
  }

  .izq {
    text-align: left;
    justify-self: start;
  }

  .centro {
    text-align: justify;
  }

  .der {
    text-align: right;
    justify-self: end;
  }

  /* ======== TITULOS Y BIO ======== */
  .titulo {
    font-size: 0.9rem;
    text-transform: uppercase;
    margin-bottom: 0;
    font-family: "OT Bulb Monoline";
  }

  .parrafobio {
    font-family: "PP Neue Montreal Mono";
    text-align: justify;
    margin: 0 auto 3rem auto;
    width: 100%;
    font-size: 0.8rem;
  }

  /* ======== PRESS + SKILLS ======== */

  .press li,
  .skills li {
    list-style: none;
    font-size: 0.8rem;
  }

  .press a,
  .skills a {
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    font-family: "PP Neue Montreal Mono";
  }

  .press a:hover,
  .skills a:hover {
    color: rgb(13, 0, 255);
  }

  .press li:hover {
    background-color: rgb(0, 255, 0);
    padding-inline: 2rem;
    transition: 0.3s;
  }

  /* ======== RESPONSIVE ======== */

  @media (max-width: 1200px) {
    .col {
      font-size: 0.7rem;
    }

    /* Columna izquierda más estrecha en mobile */
    .fila {
      grid-template-columns: 15% 60% 25%;
    }

    .bio .fila {
      grid-template-columns: 1fr;
    }

    .bio .col.izq,
    .bio .col.der {
      display: none;
    }

    .bio .col.centro {
      width: 100%;
    }
  }
</style>
