---
import { getRelativeLocaleUrl } from "astro:i18n";
import { getCollection } from "astro:content";
import { useTranslations } from "../i18n/utils";
import { Image } from "astro:assets";


const works = await getCollection('works');

const currentLang = Astro.currentLocale || 'es'
const translateLabels = useTranslations(currentLang as "es" | "en" );

const filteredWorks = works.filter((work: { slug: string; }) => work.slug.startsWith(`${currentLang}/`));

const url = `${currentLang}/works`
---

<section id="grid"  aria-label="Alejandro Vazquez Works">
<div class = "titulo">
<h2>{translateLabels("works")}</h2>
<p>{translateLabels("trabajos")}</p>
</div>

<div class="grid-works" >     
{

    filteredWorks.map((work: { slug: string; data: any; })=>{
        const{slug,data}=work;
        const {title,year,image,material,seenIn,externalLink} = data; 
       
        const href = externalLink ||`/${slug.split("/")[0]}/works/${slug.split("/")[1]}`;
        
        return (
        <div class= "element" >
        <a href={href}  target={externalLink ? "_blank" : "_self"} rel={externalLink ? "noopener noreferrer" : ""}>
             <Image
                 transition:name={`grid-${slug}`}
                src={image} alt={title}  quality="mid" loading="lazy"/>
            <h2>{title}</h2>
            <h4>{year}</h4>
            <div class = "tags">
            <h4>{material}</h4>
            <h4>{seenIn}</h4>
            </div> 
        </a>
         </div>
           
        )

    })
}
</div>

</section>

<style>
    #grid{
        position: relative;
        max-width:100%;
    }

    .titulo h2 {
        text-transform: lowercase;
        padding: 0;
        margin: 0;
        line-height: 1;
    }

    .grid-works{
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(2,1fr);
        grid-auto-rows: 80vh;
        grid-auto-flow: dense;
    }
    .grid-works img{
        max-width: 100%;
        max-height: 85%;
        object-fit: cover;
    }
    .grid-works h2{
        font-size: 2rem;
        margin: 0%;
        padding: 0;
        line-height:1;
    }
   .grid-works h4 {
        margin: 0;
        padding: 0;
        line-height: 1;
        font-weight: 400;
   }
   #grid a { 
        text-decoration: none;
        color: black;
   }
  

   @media (max-width: 1000px){
    .grid-works{
        grid-template-columns: repeat(1,1fr);
    }
    .grid-works img {
        max-height: 80%;
    }
   }
</style>



